<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Hello Political: Your Candidates, Your Way!</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="other.css">
    <script language="javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.3/angular.min.js" type="text/javascript"></script>
    <script language="javascript" src="app.js" type="text/javascript"></script>
  </head>
  <body ng-app="hp" ng-controller="hpCtrl">
<!--nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Hello Political</a>
    </div>
  </div>
</nav-->
    
 <!--div class="background" style="width:100%; height:100%;"-->
  <div class="transbox">
    <div><img src="HP1.png">
    <h1>I want to find candidates who care about...</h1>
         <form class="form-inline my-2 my-lg-0">
           <div class="form-group">
             <select class="form-control">
               <option value="Climate Change">Climate Change</option>
               <option value="Healthcare">Healthcare</option>
               <option value="Gun Control">Gun Control</option>
               <option value="Drug Usage">Drug Usage</option>
               <option value="Education Reform">Education Reform</option>
               <option value="Tax Reform">Tax Reform</option>
               <option value="Military">Military</option>
               <option value="Abortion">Abortion</option>
               <option value="Unions">Unions</option>
               <option value="Social Policy">Social Policy</option>
               <option value="LGBT Rights">LGBT Rights</option>
               <option value="Immigration">Immigration</option>
               <option value="H1N1 Visa">H1N1 Visa</option>
               <option value="Medicaid">Medicaid</option>
               <option value="Civil Liberties">Civil Liberties</option>
               <option value="Security_Privacy">Security/Privacy</option>
               <option value="Religion">Religion</option>
               <option value="Terrorism">Terrorism</option>
               <option value="Urban Issues">Urban Issues</option>
               <option value="Rural_Farm Issues">Rural/Farm Issues</option>
               <option value="Crime">Crime</option>
               <option value="Nuclear">Nuclear</option>
               <option value="Infrastructure">Infrastructure</option>
               <option value="Campaign Reform">Campaign Reform</option>
               <option value="Fiscal Policy">Fiscal Policy</option>
               <option value="Corporations">Corporations</option>
               <option value="Tort Reform">Tort Reform</option>
               <option value="Corruption">Corruption</option>
            </select>
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </div>
        </form>
    </div>
    </div>
  <section>
    <div class="transbox">
      <div ng-repeat="x in candidates" class="cards" style="display:inline-block">
        <img ng-src="{{ x.photo_url }}"/ style="width: 200px; float: left;">
        <h3>{{ x.candidate_name }}</h3>
        <h4>{{ x.office }}</h4>
        <div class="issues">
          <dl ng-repeat="i in x.issues" style="text-align: left;">
            <dt>{{ i.issue_name }}</dt>
            <dd>{{ i.issue_text }}</dd>
          </dl>
        </div>
        <div>
          <button type="button" class="btn-lg btn-primary" style="display:inline-box; width:50%;">Donate</button>
          <button type="button" class="btn-lg btn-info" style="display:inline-box; width:50%;">Learn More</button>
      </div>
    </div>
 </section>

    <!--/div-->
  </body>
</html>
