@charset "utf-8";

body { 
background: url(voting_booth_bg.jpeg) no-repeat center center fixed; 
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}

div.background {
    background: url(voting_booth_bg.jpeg);
    border: 2px solid black;
}

div.transbox {
    margin: 30px;
    background-color: #ffffff;
    border: 1px solid black;
    opacity: 0.85;
    filter: alpha(opacity=85); /* For IE8 and earlier */
    text-align: center;
}

div.transbox p {
    margin: 5%;
    font-weight: bold;
    color: #000000;
}
