@charset "utf-8";

body { 
background: url(voting_booth_bg.jpeg) no-repeat center center fixed; 
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}

.cards {
  display: inline-block;
  width: 600px;
  height: 500px;
  background-color: lightgrey;
  margin: 10px;
  padding: 10px;
}

.cards .issues {
    position: relative;
    width: 300px;
    border: 1px solid black;
    float: right;
}

div.background {
    background: url(voting_booth_bg.jpeg);
    border: 2px solid black;
}

div.transbox {
    position: relative;
    margin: 30px 30px 30px 30px ;
    padding: 20px;
    background: rgba(255, 255, 255, 0.85);
    border: 1px solid black;
    /*opacity: 0.85;
    filter: alpha(opacity=85); /* For IE8 and earlier */
    text-align: center;
}

/*div.transbox div {
    margin: 5%;
    height: 90%;
    font-weight: bold;
    color: #000000;
    opacity: 1 !IMPORTANT;
    filter: alpha(opacity=100) !IMPORTANT; /* For IE8 and earlier */
}/*
